/*-----------------------------
        Html Body 
 ------------------ */
body {
    margin: 0;
}

main {
    margin: 50px 140px 100px 140px;
}

/*----------------------------
 First Section : Heading and banner
 ------------------------------------ */
.first-banner {
    display: flex;
    justify-content: space-between;
    background: #161616;
    border-radius: 40px;
    color: white;
    border-radius: 15px;
    margin-bottom: 50px;

}

.heading-1 h1 {

    font-weight: 700;
    font-size: 70px;
    margin-bottom: 35px;

}

.heading-1 p {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 35px;
    margin-top: -35px;
}

.heading-1 {
    display: grid;
    align-items: center;
    padding: 110px 40px 110px 105px;
}

.first-banner img {
    width: 60%;
    margin: 35px 80px 0px 40px;
}

.watch-live {
    display: none;
}

.button-1 a {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#DD0000, #e20505, #ec0404);
    padding: 16px 25px;
    border-radius: 10px;
    margin-top: 60px;
    font-weight: 800;
}

.button-1 a:hover {
    background-image: linear-gradient(#e64693, #9d257b, #dc3636);

}


/*-----------------------
        Blog Area
 ------------------------ */

/* buttons */
.buttons {
    background-color: black;
    padding: 50px;
    width: 250px;
    border-radius: 15px;
}

.buttons a {
    text-decoration: none;
    color: black;
    font-weight: 800;

}

.buttons .button-4,
.button-3,
.button-2 {

    background-color: white;
    padding: 17px 50px;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;

}

.button-4 a:hover {
    color: white;
    background-color: gray;

}

.button-4:hover {
    background-color: gray;

}

.button-2 {

    background-image: linear-gradient(#DD0000, #e20505, #ec0404);
}

.button-2 a {
    color: white;
}

/* Upcoming Matches */
.blog-area {
    display: flex;
    align-items: flex-start;
    grid-column-gap: 20px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;

}

.match-1 {

    border: 1px solid grey;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 6px 6px gray;
    text-align: center;
}

.match-1-flags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.match1-details {
    text-align: center;
}


/*--------------------------
 footer area styles 
 --------------------------*/
#footer {
    margin-top: 200px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 300px;
}

footer h1 {
    font-size: 40px;
    border-bottom: 2px solid rgb(184, 180, 180);
    padding-bottom: 25px;
}

.footer-options {
    display: flex;
    justify-content: center;
}

.footer-options p {
    margin: 0 30px;
}

.footer-social {
    margin-top: 30px;
}

.footer-social a {
    margin-right: 30px;
    font-size: 25px;
    color: white;

}

/*-------------------------
 Media Quries Tablet
 ------------------------ */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* section-1 banner */
    .first-banner {
        width: 100%;
        margin-bottom: 0px;
    }

    .heading-1 {
        padding: 70px 20px 70px 40px;
    }

    .heading-1 h1 {
        font-size: 25px;
    }

    .heading-1 p {
        font-size: 8px;
    }

    .button-1 {
        font-size: 10px;
    }

    /* Blog- Buttons */
    .blog-area {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .buttons {
        display: flex;
        margin-top: 0;
        background-color: white;
        align-content: center;
        margin-left: 100px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .buttons a {
        text-decoration: none;
        color: black;
        font-weight: 800;
        text-align: center;
        justify-content: center;
        padding: 0;
    }

    .button-2,
    .button-3,
    .button-4 {

        border: 1px solid;
        padding: 10px 45px;
        margin-right: 20px;
        font-size: 12px;


    }

    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    .footer-options {
        display: grid;
        grid-template-columns: repeat(3, 4fr);
    }

    .footer-options p {
        font-size: 12px;
        padding: 20px;
    }
}



/*-------------------------
 Media Quries Mobile
 ------------------------ */